#countdown{
    padding: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    font-size: 100%; 
    vertical-align: top; 
    outline: 0px; 
    -webkit-user-select: none; cursor: default; 
    transform-origin: 0px 0px 0px; 
    left: 0px; 
    top: 0px; 
    height: 60px; 
    width: 320px; 
    box-shadow: none; 
    position: relative; 
    display: block; 
    clear: both; 
    zoom: 1; 
    overflow: visible; 
    background-image: none; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: padding-box;
}
#countdownBox{
  position: static; 
  overflow: visible; 
  padding: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  font-size: 100%; 
  vertical-align: baseline; 
  outline: 0px; 
  -webkit-user-select: none; 
  cursor: inherit; 
  transform-origin: 0px 0px 0px; 
  left: 3.2px; 
  top: 0px; 
  height: 44px; 
  width: 57.6px; 
  border-radius: 3.3px; 
  box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 4px; 
  z-index: 0; 
  background-image: none; 
  background-attachment: initial; 
  background-color: rgb(255, 143, 0); 
  background-origin: initial; 
  background-clip: padding-box;
}
#countdownNumber{
  position: absolute; 
  overflow: visible; 
  padding: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  font-size: 35.2px; 
  vertical-align: 
  baseline; outline: 0px; 
  -webkit-user-select: none; 
  cursor: inherit; 
  transform-origin: 0px 0px 0px; 
  left: 0px; top: 0px; 
  height: 44px; width: 57.6px; 
  box-shadow: none; 
  white-space: nowrap; 
  line-height: 1.25em; 
  color: rgb(255, 255, 255); 
  font-family: Arial; 
  text-align: center; 
  font-weight: normal; 
  text-shadow: none; 
  text-decoration: none; 
  zoom: 1; z-index: 0; 
  background-image: none; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: padding-box;

}
#countdownText{
  position: absolute; 
  overflow: visible; 
  padding: 0px; 
  margin-right: 0px; 
  margin-bottom: 0px; 
  font-size: 11.2px; 
  vertical-align: baseline; 
  outline: 0px; 
  -webkit-user-select: none; 
  cursor: inherit; 
  transform-origin: 0px 0px 0px; 
  left: 0px; 
  top: 48.8px; 
  height: 11.2px; 
  width: 64px; 
  box-shadow: none; 
  white-space: nowrap; 
  line-height: 1em; 
  color: rgb(168, 168, 168); 
  font-family: Arial; 
  text-align: center; 
  font-weight: bold; 
  text-shadow: none; 
  text-decoration: none; 
  zoom: 1; 
  z-index: 1; 
  background-image: none; 
  background-attachment: initial; 
  background-origin: initial; 
  background-clip: padding-box;
}